{{>header}}
<!-- Details Page ( for Guests and Users ) -->
<section id="details-page" class="details">
    <div class="pet-information">
        <h3>Name: {{pet.name}}</h3>
        <p class="type">Type: {{pet.type}}</p>
        <p class="img"><img src="{{pet.imageUrl}}"></p>
        <div class="actions">

            {{#if isAuth}}
            {{#if isOrganizer}}
            <!-- Edit/Delete buttons ( Only for creator of this pet )  -->
            <a class="button" href="#/edit/{{pet.id}}">Edit</a>
            <a class="button" href="#/close/{{pet.id}}">Delete</a>
            <!-- Bonus -->
            <!-- Like button ( Only for logged-in users, which is not creators of the current pet ) -->
            {{else}}
            <a class="button" href="#/like/{{pet.id}}">Like</a>
            <!-- ( for Guests and Users )  -->
            <div class="likes">
                {{/if}}
                {{/if}}
                <img class="hearts" src="/images/heart.png">
                <span id="total-likes">Likes: {{pet.interestedIn}}</span>
            </div>
            <!-- Bonus -->
        </div>
    </div>
    <div class="pet-description">
        <h3>Description:</h3>
        <p>{{pet.description}}</p>
    </div>
</section>

{{>footer}}